extends layout

block content
  h1= title
  p This Will Take Forever To Load delivers what it promises (technically it never loads). It was built for testing purposes and other very important matters (mostly having fun and because the domain was cheap).
  p To open a page that takes forever to load, go to 
    a(href="http://thiswilltakeforevertoload.com") http://thiswilltakeforevertoload.com

  p Bonus feature: you can also load 
    a(href="http://thiswilltakeforevertoload.com/toomanyredirects") http://thiswilltakeforevertoload.com/toomanyredirects
    | for too many redirects! 

  p Happy loading!
